@font-face {
    font-family: OpenSans semibold;
    src: url(fonts/static/OpenSans/OpenSans-SemiBold.ttf);

}

.d-back{
    background-color:#E4FDF9;
}
.d-spacing-p7{
    margin: 0px 115px 0px 115px;
    padding-top: 125px;
    padding-bottom: 125px;
}
.d-blog-heading {
    text-align: center;
    margin-left: 270px;
    margin-bottom: 123px;
    height: 96px;
    width: 630px;
}
.d-blog-heading h2 {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.d-blog-heading p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.d-seo{
    display: inline-flex;
}
.d-seo img{
    max-width: 48%;
}
.d-seo h2{
    margin-top: 38px;
    margin-left: 29px;
    margin-right: 200px;
    display: inline-flex;
    font-family: OpenSans Semibold;
    font-size: 25px;
}
.d-seo h2:hover{
    color: #00897B;
    cursor: pointer;
}
.icon{
    display: inline-flex;
    margin-left: 29px;
}
.icon p {
    margin: 0 0 0 15px;
    font-size: 17px;
    font-family: OpenSans Semibold;
}
.qwe{
    margin-left: 30px;
    margin-right: 80px;
    width: 450px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.d-button{
    text-align: center;
}
.d-button input{
    border-width: 3px;
    border-color: black;
    background-color: #E4FDF9; 
    color:black;
    margin-top: 120px;
    WIDTH: 220px;
    font-weight: bold;
    font-size: 20px;
    padding: 22px;
    cursor:pointer;
}
.d-button input:hover{
    background-color: #00897B;
    color: white;
    border: none;
    height: 73px;
}
.d-button input:active {
    transform: translateY(4px);
}

.back{
    z-index: -1;
    position: absolute;
}
.imag{
    max-width: 100%;
}
.d-spacing-p8{
    padding-top: 83px;
    padding-left: 115px;
    padding-right: 115px;
}
.d-blog-heading2{
    text-align: center;
    color: white;
    margin-left: 270px;
    margin-bottom: 109px;
    height: 96px;
    width: 630px;
}
.d-blog-heading2 h2{
    font-weight: bold;
	font-size: large;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d-blog-heading2 p{
    font-weight:400;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
.d-rounds {
    display: flex;
    text-align: center;
    margin-left: 180px;
    justify-content: space-between;
    width : 830px;
    height: 107px;
}
.d-rounds i{
    padding: 30px;
    border-radius: 140px;
    background-color: #3949ab;
    color: white;
}
.d-under-rounds{
    display: flex;
    text-align: center;
    margin-top: 15px;
    margin-left: 100px;
    justify-content: space-between;
    width : 970px;
}
.d-under-rounds p{
    color: white;
    font-weight: bold;
    font-size: large;
    width: 250px;
    font-family: OpenSans semibold;
    font-size: 20px;
}

.d-blank{
    margin-top: 80px;
    text-align: center;
}
.in{
    display: flex;
    justify-content: space-between;
    width: 1030px;
    margin-left: 45px;
}

.d-blank input{
    font-family: OpenSans semibold;
    border-radius: 10px;
    font-size: 20px;
    width: 500px;
    height: 85px;
    border: 0px;
    padding: 0px;
}
.d-blank textarea{
    font-family: OpenSans semibold;
    font-size: 20px;
    margin-top: 30px;
    width: 1030px;
    height: 320px;
    border-radius: 10px;
    border: 0px;
    padding: 0px;
}

.d-button2{
    float: right;
    text-align: center;
}
.d-button2 input{
    border-radius: 15px;
    border: none;
    background-color: white; 
    color:black;
    margin-right: 70px;
    margin-top: 38px;
    WIDTH: 220px;
    font-weight: bold;
    font-size: 17px;
    padding: 22px;
    cursor:pointer;
}
.d-button2 input:active {
    transform: translateY(4px);

}

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    MARGIN-TOP: 170px;
}
